<div class="container">
  <img src="/assets/images/PavanOriginals.png" alt="" />
  <div class="section1">
    <div class="left"><h3>Description</h3></div>
    <div class="right">
      <p>
        Welcome to our digital haven, where innovation meets expertise! Our
        website is a dynamic showcase of skills encompassing web development,
        mobile applications, and video editing. Whether you're navigating the
        virtual landscape or shaping your brand's digital presence
      </p>
    </div>
  </div>
  <h3>Services</h3>
  <div class="section2">
    <div class="card">
      <ul>
        <li *ngFor="let mdata of data">
          <a routerLink="/mdata/{{ mdata.id }}">
            <img [src]="mdata.imageurl" />
            <div class="content">
              <div class="servicename">
                {{ mdata.servicename }}
              </div>
              <div class="description">
                {{ mdata.description }}
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <h3>Social media</h3>
  <div class="section3">
    <i class="pi pi-instagram" style="color: rgb(247, 56, 104);"></i>
    <i class="pi pi-facebook" style="color: rgb(74, 74, 245);"></i>
  </div>
</div>
