@import "primeicons/primeicons.css";

.main {
  color: aliceblue;
}

.screen1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* max-width: 600px; */
}

.screen1 .left {
   position: relative;
   width: 100%;
   justify-content: space-between;
   /* height: 100lvh; */
   /* display: flex; */
   align-items: center;
   padding: 300px 10% 0;
   font-size: 30px;
}

.screen1 .right{
    background: url(../assets/images/check.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100lvh;
    border-radius: 3rem;
}


.left a{
padding-left: 1rem;
/* padding-top: 1rem; */
}

.left p{
  font-size: 20px;
}