<section class="main">
  <div class="screen1">
    <div class="left">
      <h3>{{ weclome }}</h3>
      <h1>{{ name }}</h1>
      <h3>{{ means }}</h3>
      <p>{{ description }}</p>
      <p>{{ description2 }}</p>
      <p>{{ description3 }}</p>
      <div class="mepty"></div>
      <div class="socialMedia">
        <a href=""><i class="pi pi-facebook" style="color: whitesmoke"></i></a>
        <a href="https://www.instagram.com/moreof.pavan/"><i class="pi pi-instagram" style="color: whitesmoke"></i></a>
        <a href="https://wa.me/919293942417"><i class="pi pi-whatsapp" style="color: whitesmoke"></i></a>
        <a href="https://www.youtube.com/@Moreofpavan"><i class="pi pi-youtube" style="color: whitesmoke"></i></a>
      </div>
    </div>
    <div class="right">
      <!-- <img src="" alt="image"> -->
    </div>
  </div>
</section>
